{% load static %}

<head>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Catalogo de peliculas</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur tenetur temporibus placeat quos rem quae laboriosam et fugiat culpa. Numquam minima sit porro consequatur dolor explicabo cumque magni mollitia distinctio?</p>    
</body>
